.btn_list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 80px;
    top: -92px;
    left: 620px;
    font-size: 16px;
    font-family: 'poppins';
    & .btn {
        width: 122px;
        height: 43px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        &:active:hover {
            background-color: rgba(255, 0, 0, 0.462);
            color: rgb(25, 0, 255);
            box-shadow: 0px 0px 15px 2px rgba(255, 0, 0, 0.782);
        }
        &:hover {
            background-color: rgba(25, 0, 255, 0.349);
            color: rgb(0, 0, 0);
            box-shadow: 0px 0px 15px 2px rgba(246, 255, 0, 0.286);
            border-radius: 10px;
        }
    }
    & .btn_2 {
        background-color: $main-bg-green;
        color: $main-bg-white;
        width: 122px;
        height: 43px;
        border-radius: 4px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        &:active:hover {
            background-color: rgba(255, 0, 0, 0.462);
            color: rgb(25, 0, 255);
            box-shadow: 0px 0px 15px 2px rgba(255, 0, 0, 0.782);
        }
        &:hover {
            background-color: rgba(25, 0, 255, 0.349);
            color: rgb(0, 0, 0);
            box-shadow: 0px 0px 15px 2px rgba(246, 255, 0, 0.286);
            border-radius: 10px;
        }
    }
    // &:active:hover {
    //     background-color: rgba(255, 0, 0, 0.462);
    //     color: rgb(25, 0, 255);
    //     box-shadow: 0px 0px 15px 2px rgba(255, 0, 0, 0.782);
    // }
    // &:hover {
    //     background-color: rgba(25, 0, 255, 0.349);
    //     color: rgb(0, 0, 0);
    //     box-shadow: 0px 0px 15px 2px rgba(246, 255, 0, 0.286);
    //     border-radius: 10px;
    // }
}